PORT=5000
# MongoDB Atlas Cloud Database
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/canteen-app?retryWrites=true&w=majority&appName=your_cluster_name
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development